src/IDP/firebaseServiceAccount.json
src/idp/firebaseServiceAccount.json
dist
node_modules
.env

src/IDP/firebase.json
src/idp/firebaseIDP/firebase.json
firebase.json
src/IDP/firebaseIDP/firebase.json
